.naslov {
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
    font-size: larger;
    color: white;
}

a.naslov:hover    {
    text-decoration: none !important;
    color: white;
}


.navbar-nav > li    {
    padding-left: 4em;
    padding-right: 4em;
    /*padding-top: 1em;
    padding-bottom: 1em;*/
}