.fix-margins{
    margin-left: 10px;
}

table {
    margin-left: 15%;
    margin-top: 15px;
    width: 45%;
    text-align: center;
    border-bottom: 1px solid black;
}

th {
    background-color: lightpink;
}