<br><br>

<html>

<body>
<div class="container">
    <img class="welcome" src="../../assets/welcome.png">
</div>
<div class="container">
    <div class="cards">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image1"></div>
                <mat-card-title>Who are we?</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                   With hundreds of employees across more than 10 locations and some 
                   of the country's leading specialists, Medbay Tech offers you help,
                   diagnosis and treatment in almost any area of healthcare.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image2"></div>
                <mat-card-title>Your health is our concern</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Ethic and professionalism are the basis of the guidelines that guide
                    us in our daily work. Your health is our concern, your needs are first for us,
                    and our team of skilled doctors are everyday here for you,
                    working closely together in order to find the best treatment for you.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image3"></div>
                <mat-card-title>Quick scheduling</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    With our team, you recieve medical tests and physician consultations
                    in just a few days. This means a diagnosis comes fast, and treatments,
                    surgery included, can be scheduled very quickly. We take care of you
                    during the entire treatment.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

</body>
<footer>
    <div class="container-fluid text-center text-md-left">

        <div class="row">

          <div class="content">
  
            <p>
                Contact : +381123123
            </p>
  
          </div>
 
          <hr class="clearfix w-100 d-md-none pb-3">
  
        </div>

  
      </div>
      <div class="footer-copyright text-center py-3">© 2021 Copyright:
         Medbay Tech
      </div>
</footer>

</html>