.row {
    margin-bottom: 10px;
}

.title-color{
    background-color:  #3F51B5;
    color: white;
    text-align: center;
}

.center-card{
    display: flex;
    justify-content: center;
}

mat-card-header {
    background-color: #3F51B5;
    color: white;
}

mat-card-subtitle{
    color:white;
}

mat-card {
    min-width:  40vw;
    max-width: 40vw;
    background-color: white;
    margin-top: 10px;
   
}

mat-card-content {
    padding-top: 10px;
    margin-left: 5px;
}
mat-card-actions{
    text-align: right;
}

mat-card-footer {
    margin-top: 3px;
    text-align: right;
    margin-right: 3px;
}


.content-paragraph {
    font-size: 20px;
}

.title-paragraph {
    font-size: 25px;
    text-align: left;
    
}

.subtitle-paragraph {
    font-size: 13x;
    padding-left: 0px;
    
}

#id {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
}

.limit {
    word-wrap: break-word;
}

.header {
    text-align: center;
}

