.row {
    padding-top: 20px;
}

.center-card{
    display: flex;
    justify-content: center;
}

mat-card-header {
    background-color: #3F51B5;
    color: white;
}

mat-card {
    min-width: 40vw;
    max-width: 40vw;
    background-color : white;
    margin-top: 10px;
}

mat-card-content {
    margin-top: 16px;
    margin-left: 5px;
}

mat-card-footer {
    margin-top: 3px;
    text-align: right;
    margin-right: 3px;
}

mat-card-subtitle{
    color:white;
}

.content-paragraph {
    font-size: 20px;
}

mat-card-title {
    margin-bottom: 4px;
    margin-top: 4px;
}

.limit {
    word-wrap: break-word;
}

.title-paragraph {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
}

.date-paragraph {
    font-size: 12px;
    padding-left: 18px;
    margin-bottom: 0px;
    font-weight: lighter;
}