@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body {  margin: 0; 
        font-family: Roboto, "Helvetica Neue", sans-serif; 
        background-image: linear-gradient(0deg, rgb(219, 219, 219) 5%, rgb(255, 255, 255) 100%);
        min-height: 100%;
        margin: 0;
        background-attachment: fixed;

}
