<br><br>

<html>

<body>
    <h1>Welcome to Medbay Tech!</h1>
<div class="container">
    <div class="carousel">
        <ng-image-slider [images]="imageObject" #nav
        [imageSize]="{width: '75%', height: 300}"
        ></ng-image-slider>
    </div>
</div> 
<div class="container">
    <div class="cards">
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Lorem ipsum</mat-card-title>
                <mat-card-subtitle>lorem ipsum</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Lorem ipsum</mat-card-title>
                <mat-card-subtitle>lorem ipsum</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Lorem ipsum</mat-card-title>
                <mat-card-subtitle>lorem ipsum</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
</body>
<footer>
    <div class="container-fluid text-center text-md-left">

        <div class="row">

          <div class="content">
  
            <p>
                Contact : +381123123
            </p>
  
          </div>
 
          <hr class="clearfix w-100 d-md-none pb-3">
  
        </div>

  
      </div>
      <div class="footer-copyright text-center py-3">© 2021 Copyright:
         Medbay Tech
      </div>
</footer>

</html>
