h1 {
    display: flex;
    justify-content: center;
}

button {
    margin-left: 80vw;
    margin-top: 15px;
}

mat-card {
    min-width:  30vw;
    max-width: 30vw;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #3F51B5;
    color:white;
}

.carousel {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

p {
    padding-top: 10px;
}

.example-header-image1 {
    background-image: url("../../assets/cyan.png");
    background-size: cover;
}

.example-header-image2 {
    background-image: url("../../assets/orange.png");
    background-size: cover;
}

.example-header-image3 {
    background-image: url("../../assets/yellow.png");
    background-size: cover;
}
