<div class = "container">
    <mat-tab-group>
        <mat-tab label = "Patient Info">
            Content
        </mat-tab>
        <mat-tab label = "Allergies">
            Content
        </mat-tab>
        <mat-tab label = "Vaccines">
            Content
        </mat-tab>
        <mat-tab label = "Illness History">
            Content
        </mat-tab>
        <mat-tab label = "Family Illness History">
            Content
        </mat-tab>
        <mat-tab label = "Therapies"> 
            Content
        </mat-tab>
    </mat-tab-group> 
</div>
