<div class = "container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Patient Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="content-paragraph">Full Name : <strong>{{ medicalRecord.Name }} {{ medicalRecord.Surname }}</strong></p>
            <p class="content-paragraph">ID Number: <strong>{{ medicalRecord.PatientId }}</strong></p>
            <p class="content-paragraph">Gender : <strong>{{ medicalRecord.Gender }}</strong></p>
            <p class="content-paragraph">Date of birth: <strong>{{ medicalRecord.DateOfBirth | date : 'dd/MM/yyyy'}}</strong></p>
            <p class="content-paragraph">Blood type: <strong>{{ medicalRecord.BloodType }}</strong></p>
            <p class="content-paragraph">Address : <strong>{{ medicalRecord.Street }} {{ medicalRecord.Number }} , {{ medicalRecord.City }} , {{ medicalRecord.State }}</strong></p>
            <p class="content-paragraph">Phone number : <strong>{{ medicalRecord.Phone }}</strong></p>
            <p class="content-paragraph">E-mail : <strong>{{ medicalRecord.Email }}</strong></p>
            <p class="content-paragraph">Insurance policy provider : <strong>{{ medicalRecord.InsurancePolicyCompany }}</strong></p>
            <p class="content-paragraph">Patient condition : <strong>{{medicalRecord.PatientCondition }}</strong></p>
        </mat-card-content>
        <mat-card-footer>
            <mat-tab-group>
                <mat-tab label="Allergies">
                    <table class="table"> 
                        <th> Name </th>
                        <tr *ngFor="let allergen of medicalRecord.Allergies">
                            <td>{{ allergen }}</td>
                        </tr>
                    </table>
                </mat-tab>
                <mat-tab label="Vaccines">
                    <table class="table">
                        <th> Name </th>
                        <tr *ngFor="let vaccine of medicalRecord.Vaccines">
                            <td>{{ vaccine }}</td>
                        </tr>
                    </table>
                </mat-tab>
                <mat-tab label="Illness history">
                    <table class="table">
                        <th> Diagnoses </th>
                        <th> &nbsp; </th>
                        <th> &nbsp; </th>
                        <th> Symptoms </th>
                        <tr *ngFor="let name of medicalRecord.IllnessHistoryName">
                            <td> {{ name }} </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td> {{ medicalRecord.IllnessHistorySymptoms }} </td>
                        </tr>
                    </table>
                </mat-tab>
                <mat-tab label="Family illness history">
                    <table class="table">
                        <th> Relative </th>
                        <th> &nbsp; </th>
                        <th> &nbsp; </th>
                        <th> Diagnoses </th>
                        <tr>
                            <td> {{ medicalRecord.FamilyIllnessHistoryRelatives }} </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td> {{ medicalRecord.FamilyIllnessHistoryDiagnosis }} </td>
                        </tr>
                    </table>
                </mat-tab>
                <mat-tab label="Therapies">
                    <table class="table"> 
                        <th> Hour consumption </th>
                        <th> &nbsp; </th>
                        <th> &nbsp; </th>
                        <th> Medication </th>
                        <tr *ngFor="let hourConsumption of medicalRecord.TherapiesHourConsumption">
                            <td> {{ hourConsumption }} </td>
                            <td> &nbsp; </td>
                            <td> &nbsp; </td>
                            <td> {{ medicalRecord.TherapiesMedication[0] }} </td>
                        </tr>
                    </table>
                </mat-tab>
              </mat-tab-group>
        </mat-card-footer>
    </mat-card>
</div>    
