<div class = "survey">
    <div class = "doctor">
        <label id="Doctor"><b>Doctor</b></label>       
    </div>
    <mat-divider></mat-divider>
    <label id = "questions">How would you rate your doctor?</label>
    <div>
        <mat-radio-group        
        class="example-radio-group"
        [(ngModel)]="question">
            <label id = "grade">excellent</label>
            <mat-radio-button class="example-radio-button"></mat-radio-button>
            <label id = "grade">very good</label>
            <mat-radio-button class="example-radio-button"></mat-radio-button>
            <label id = "grade">good</label>
            <mat-radio-button class="example-radio-button"></mat-radio-button>
            <label id = "grade">poor</label>
            <mat-radio-button class="example-radio-button"></mat-radio-button>
            <label id = "grade">very poor</label>
            <mat-radio-button class="example-radio-button"></mat-radio-button>
        </mat-radio-group>
    </div>  
    <mat-divider></mat-divider>
    <label id = "questions">How would you rate your doctors expertise?</label>
    <div>
        <mat-radio-group        
        class="example-radio-group1"
        [(ngModel)]="question1">
            <label id = "grade">excellent</label>
            <mat-radio-button class="example-radio-button1"></mat-radio-button>
            <label id = "grade">very good</label>
            <mat-radio-button class="example-radio-button1"></mat-radio-button>
            <label id = "grade">good</label>
            <mat-radio-button class="example-radio-button1"></mat-radio-button>
            <label id = "grade">poor</label>
            <mat-radio-button class="example-radio-button1"></mat-radio-button>
            <label id = "grade">very poor</label>
            <mat-radio-button class="example-radio-button1"></mat-radio-button>
        </mat-radio-group>
    </div>  
    <mat-divider></mat-divider>
    <div class = "medical_stuff">
        <label id="Doctor"><b>Medical stuff</b></label>       
    </div>
    <mat-divider></mat-divider>
    <label id = "questions">How would you rate our medical stuff?</label>
    <div>
        <mat-radio-group        
        class="example-radio-group2"
        [(ngModel)]="question2">
            <label id = "grade">excellent</label>
            <mat-radio-button class="example-radio-button2"></mat-radio-button>
            <label id = "grade">very good</label>
            <mat-radio-button class="example-radio-button2"></mat-radio-button>
            <label id = "grade">good</label>
            <mat-radio-button class="example-radio-button2"></mat-radio-button>
            <label id = "grade">poor</label>
            <mat-radio-button class="example-radio-button2"></mat-radio-button>
            <label id = "grade">very poor</label>
            <mat-radio-button class="example-radio-button2"></mat-radio-button>
        </mat-radio-group>
    </div>  
    <mat-divider></mat-divider>
    <label id = "questions">How would you rate our medical stuff politeness?</label>
    <div>
        <mat-radio-group        
        class="example-radio-group1"
        [(ngModel)]="question3">
            <label id = "grade">excellent</label>
            <mat-radio-button class="example-radio-button3"></mat-radio-button>
            <label id = "grade">very good</label>
            <mat-radio-button class="example-radio-button3"></mat-radio-button>
            <label id = "grade">good</label>
            <mat-radio-button class="example-radio-button3"></mat-radio-button>
            <label id = "grade">poor</label>
            <mat-radio-button class="example-radio-button3"></mat-radio-button>
            <label id = "grade">very poor</label>
            <mat-radio-button class="example-radio-button3"></mat-radio-button>
        </mat-radio-group>
    </div>
    <mat-divider></mat-divider>
    <div class = "hospital">
        <label id="Doctor"><b>Hospital</b></label>       
    </div>
    <mat-divider></mat-divider>
    <label id = "questions">How would you rate our hospital?</label>
    <div>
        <mat-radio-group        
        class="example-radio-group4"
        [(ngModel)]="question4">
            <label id = "grade">excellent</label>
            <mat-radio-button class="example-radio-button4"></mat-radio-button>
            <label id = "grade">very good</label>
            <mat-radio-button class="example-radio-button4"></mat-radio-button>
            <label id = "grade">good</label>
            <mat-radio-button class="example-radio-button4"></mat-radio-button>
            <label id = "grade">poor</label>
            <mat-radio-button class="example-radio-button4"></mat-radio-button>
            <label id = "grade">very poor</label>
            <mat-radio-button class="example-radio-button4"></mat-radio-button>
        </mat-radio-group>
    </div>  
    <mat-divider></mat-divider>
    <button mat-raised-button id="button" color="accent" >Post</button>
     
</div>

<!--
<table mat-table class="mat-elevation-z8">

    <ng-container matColumnDef="question">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> 
        <mat-radio-group [(ngModel)]="question">
            <mat-radio-button ></mat-radio-button>
        </mat-radio-group> 
      </td>
    </ng-container>
  
    <ng-container matColumnDef="excellent">
      <th mat-header-cell *matHeaderCellDef>excellent</th>
      <td mat-cell *matCellDef="let element"> 
        <mat-radio-group [(ngModel)]="question">
            <mat-radio-button ></mat-radio-button>
        </mat-radio-group> 
      </td>
    </ng-container>
  
    <ng-container matColumnDef="very good">
      <th mat-header-cell *matHeaderCellDef>very good</th>
      <td mat-cell *matCellDef="let element"> 
        <mat-radio-group [(ngModel)]="question">
            <mat-radio-button ></mat-radio-button>
        </mat-radio-group> 
      </td>
    </ng-container>
  
    <ng-container matColumnDef="good">
      <th mat-header-cell *matHeaderCellDef>good</th>
      <td mat-cell *matCellDef="let element"> 
        <mat-radio-group [(ngModel)]="question">
            <mat-radio-button ></mat-radio-button>
        </mat-radio-group> 
      </td>
    </ng-container>

    <ng-container matColumnDef="poor">
        <th mat-header-cell *matHeaderCellDef>poor</th>
        <td mat-cell *matCellDef="let element"> 
            <mat-radio-group [(ngModel)]="question">
                <mat-radio-button ></mat-radio-button>
            </mat-radio-group> 
          </td>
      </ng-container>

      <ng-container matColumnDef="very poor">
        <th mat-header-cell *matHeaderCellDef>very poor</th>
        <td mat-cell *matCellDef="let element"> 
            <mat-radio-group [(ngModel)]="question">
                <mat-radio-button ></mat-radio-button>
            </mat-radio-group> 
          </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>-->
  
  