<div class = "container">
    
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Examination</mat-card-title>
        </mat-card-header>
        <mat-card-content>        
            <p class="content-paragraph">Doctor : <strong>Mika Mikic</strong></p>    
            <p class="content-paragraph">Date : <strong>01.12.2020.</strong></p>    
            <p class="content-paragraph">Time : <strong>12:15 - 13:00</strong></p>
            <p class="content-paragraph">Status : <strong>Finished</strong></p>
            <p class="content-paragraph">Room : <strong>Patient Room - 1</strong></p>
        </mat-card-content>
        <mat-card-actions>
                <button mat-raised-button class="button1" >Survey</button>
            <!--<button mat-raised-button class="button2" >Cancel</button>-->
        </mat-card-actions>
    </mat-card>
    

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Surgery</mat-card-title>
        </mat-card-header>
        <mat-card-content>        
            <p class="content-paragraph">Doctor : <strong>Pera Peric</strong></p>    
            <p class="content-paragraph">Date : <strong>10.12.2020.</strong></p>    
            <p class="content-paragraph">Time : <strong>9:15 - 12:00</strong></p>
            <p class="content-paragraph">Status : <strong>Incoming</strong></p>
            <p class="content-paragraph">Room : <strong>Operation Room - 2</strong></p>
        </mat-card-content>
        <mat-card-actions>
        <!--<button mat-raised-button class="button1" >Survey</button>-->
            <button mat-raised-button class="button1" >Cancel</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Surgery</mat-card-title>
        </mat-card-header>
        <mat-card-content>        
            <p class="content-paragraph">Doctor : <strong>Pera Peric</strong></p>    
            <p class="content-paragraph">Date : <strong>13.12.2020.</strong></p>    
            <p class="content-paragraph">Time : <strong>10:15 - 13:00</strong></p>
            <p class="content-paragraph">Status : <strong>Canceled</strong></p>
            <p class="content-paragraph">Room : <strong>Operation Room - 1</strong></p>
        </mat-card-content>
        <mat-card-actions>
        <!--<button mat-raised-button class="button1" >Survey</button>-->
        <!--<button mat-raised-button class="button1" >Cancel</button>-->
        </mat-card-actions>
    </mat-card>
    
</div>    

