.navbar-brand {
    font-size: 2.5vw;
    color: pink;
    padding-top: 18px;
}

a.naslov:hover    {
    text-decoration: none !important;
    color: white;
}


.navbar-nav > li    {
    padding-left: 4em;
    padding-right: 4em;
}

.nav-link{
    font-size: 1vw;
}